---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=roland%2B1436082915%40ka.tet&user%5Bfirst_name%5D=Roland&user%5Blast_name%5D=Deschain
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"418c2ed57a8dfc0dd1c9077644aa4fa7"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1646,"first_name":"Roland","last_name":"Deschain","email":"roland+1436082915@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"srrgfby4","api_token":"PAtxgmmbvERTYzNvBtLkhr3-gPEzNMso"}'
  recorded_at: Sun, 05 Jul 2015 07:55:34 GMT
recorded_with: VCR 2.9.3
