---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Roland","last_name":"Deschain","email":"roland+1436060703@ka.tet"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0472a6faa9ebb0f6b09cf39d178e7311"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1632,"first_name":"Roland","last_name":"Deschain","email":"roland+1436060703@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"5S57NAJr","api_token":"ymc3w1By6EER9vxF_R_ssP4x1CfQCind"}'
  recorded_at: Sun, 05 Jul 2015 01:45:11 GMT
recorded_with: VCR 2.9.3
