---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Roland","last_name":"Deschain","email":"roland+1436065358@ka.tet"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"90f0b55e2abbf999e6abb9f520490d16"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1637,"first_name":"Roland","last_name":"Deschain","email":"roland+1436065358@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"UVyonusk","api_token":"-E3HZ83wUzFMP7eK1yxqSWD6vnSw9VUq"}'
  recorded_at: Sun, 05 Jul 2015 03:02:57 GMT
recorded_with: VCR 2.9.3
