---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users/1781/recipients
    body:
      encoding: UTF-8
      string: recipient%5Bcollection_name%5D=recipients&recipient%5Belement_name%5D=recipient&recipient%5Bemail%5D=jake%2B1437189314%40ka.tet&recipient%5Bfirst_name%5D=Jake&recipient%5Blast_name%5D=Chambers&recipient%5Bmobile%5D=%2B639999999999&recipient%5Bprovince%5D=Metro%20Manila&recipient%5Buser_id%5D=1781&recipient%5Bvendor_api_token%5D=<VENDOR_API_TOKEN>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ea16829566c26ced3fe51183b73a5129"'
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":7932,"user_id":1781,"first_name":"Jake","middle_name":null,"last_name":"Chambers","email":"jake+1437189314@ka.tet","mobile":"+639999999999","address":null,"city":null,"province":"Metro
        Manila","postal_code":null,"created_at":"2015-07-18T11:28:44.789+08:00","updated_at":"2015-07-18T11:28:44.789+08:00","deleted_at":null,"created_via_api":true,"deleted":false,"business_name":null,"business_slug":null,"is_test":false}}'
  recorded_at: Sat, 18 Jul 2015 03:15:15 GMT
[...]
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users/1784/remittances
    body:
      encoding: UTF-8
      string: remittance%5Bamount%5D=10000.0&remittance%5Bcallback_url%5D=https%3A%2F%2Fcallback.url&remittance%5Bcollection_name%5D=remittances&remittance%5Bcurrency%5D=PHP&remittance%5Belement_name%5D=remittance&remittance%5Brecipient_id%5D=7940&remittance%5Bremittance_details%5D[bank]=ABC&remittance%5Bstrategy%5D=bank&remittance%5Buser_id%5D=1784&remittance%5Bvendor_api_token%5D=<VENDOR_API_TOKEN>
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Sat, 18 Jul 2015 05:02:44 GMT
[...]
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users/1786/remittances
    body:
      encoding: UTF-8
      string: recipient_id=7943&remittance%5Bamount%5D=10000.0&remittance%5Bcallback_url%5D=https%3A%2F%2Fcallback.url&remittance%5Bcollection_name%5D=remittances&remittance%5Bcurrency%5D=PHP&remittance%5Belement_name%5D=remittance&remittance%5Brecipient_id%5D=7943&remittance%5Bremittance_details%5D[bank]=ABC&remittance%5Bstrategy%5D=bank&remittance%5Buser_id%5D=1786&remittance%5Bvendor_api_token%5D=<VENDOR_API_TOKEN>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4eeed1c9488a82a50b07f1492e9bdca2"'
    body:
      encoding: UTF-8
      string: '{"errors":"There was a problem processing your remittance. Please provide
        the bank name, account name, account type, and account number"}'
  recorded_at: Sat, 18 Jul 2015 05:17:47 GMT
[...]
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users/1787/remittances
    body:
      encoding: UTF-8
      string: recipient_id=7944&remittance%5Bamount%5D=10000.0&remittance%5Bcallback_url%5D=https%3A%2F%2Fcallback.url&remittance%5Bcollection_name%5D=remittances&remittance%5Bcurrency%5D=PHP&remittance%5Belement_name%5D=remittance&remittance%5Brecipient_id%5D=7944&remittance%5Bremittance_details%5D[bank]=ABC&remittance%5Bremittance_details%5D[bank_account_name]=Jose%20Aliali&remittance%5Bremittance_details%5D[bank_account_number]=123ABC123&remittance%5Bremittance_details%5D[bank_account_type]=Peso%20Savings&remittance%5Bstrategy%5D=bank&remittance%5Buser_id%5D=1787&remittance%5Bvendor_api_token%5D=<VENDOR_API_TOKEN>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"118cc5076523c690523007b6302fc0b9"'
    body:
      encoding: UTF-8
      string: '{"remittance":{"id":8727,"user_id":1787,"recipient_id":7944,"transaction_id":"20150718131931-jake+1437196770","remittance_details":{"bank":"ABC","bank_account_type":"Peso
        Savings","bank_account_name":"Jose Aliali","bank_account_number":"123ABC123"},"destination_currency":"PHP","recipient_password":"guomrsej","amount":10000.0,"service_fee":0.0,"amount_in_btc":0.795102,"total":10000.0,"total_in_btc":0.795102,"status":0,"created_at":"2015-07-18T13:19:31.216+08:00","updated_at":"2015-07-18T13:19:31.216+08:00","invoice_address":"3Q5Q5DdZM1W94QL8ZyS3SmUyvhQtwVk8MP","payment_details":[],"processing_fee_in_btc":0.0,"processing_fee_in_php":0.0,"service_fee_in_btc":0.0,"last_refreshed_at":"2015-07-18T13:49:31.216+08:00","tracking_number":null,"rejection_message":null,"completed_at":null,"tracking_sender":null,"bank_account_name":null,"succeeded_at":null,"callback_url":"https://callback.url","notes":null,"instant_remit_token":null,"batch_remittance_id":null,"bill_number":null,"bill_due_date":null,"reported_at":null,"paid_with_credit":false,"vendor_profit_margin":0.0,"vendor_profit_in_php":0.0,"vendor_profit_in_btc":0.0,"vendor_id":43,"vendor_fee_in_php":0.0,"vendor_fee_in_btc":0.0,"is_test":false,"proof_of_deposit":{"url":null,"thumb":{"url":null}},"eload_paid_out_at":null,"delayed":false,"reason_for_delay":null,"callback_responses":[],"strategy":"bank","sub_strategy":"ABC","status_in_words":"pending","invoice_address_with_amount":"bitcoin:3Q5Q5DdZM1W94QL8ZyS3SmUyvhQtwVk8MP?amount=0.795102","cancelled":false,"total_payments":0},"manual_transaction":false}'
  recorded_at: Sat, 18 Jul 2015 05:19:32 GMT
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users
    body:
      encoding: UTF-8
      string: user%5Bcollection_name%5D=users&user%5Belement_name%5D=user&user%5Bemail%5D=roland%2B1437196847%40ka.tet&user%5Bfirst_name%5D=Roland&user%5Blast_name%5D=Deschain&user%5Bvendor_api_token%5D=<VENDOR_API_TOKEN>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d41ca5450ffff90bf9674150f3b7f95e"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1788,"first_name":"Roland","last_name":"Deschain","email":"roland+1437196847@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"KqViov52","api_token":"eTP9B8etByV7aJXcrb95bvgcjy3wKRSy"}'
  recorded_at: Sat, 18 Jul 2015 05:20:55 GMT
[...]
