---
http_interactions:
- request:
    method: get
    uri: https://rebit.ph/api/v1/rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7541db4b0f6ed1d750db745b39358e78"'
    body:
      encoding: UTF-8
      string: '{"USDCAD":1.2571,"USDJPY":122.875,"USDAUD":1.3303,"USDSGD":1.3457,"SGD":348.9535,"USDHKD":7.7529,"USDKRW":1122.145,"USDCNY":6.2066,"HKD":2010.4045,"KRW":290983.42,"USDGBP":0.6422,"USDINR":63.4174,"CNY":1609.4334,"EUR":233.3271,"VND":5654254.55,"SAR":972.6718,"TWD":8010.0859,"QAR":943.8365,"KWD":78.4413,"USDVND":21805.0,"USDBTC":0.0038,"USDPHP":45.0325,"USDEUR":0.8998,"USDQAR":3.6398,"USDKWD":0.3025,"USDAED":3.6732,"USDSAR":3.751,"USDTWD":30.89,"USDIDR":13368.0,"USDMYR":3.7883,"PHP":11649.0,"USD":259.31,"CAD":325.9786,"JPY":31862.7163,"AUD":344.9601,"AED":952.4975,"GBP":166.5289,"MYR":982.3441,"INR":16444.766,"IDR":3466456.08,"PHP-ASK":11813.22}'
  recorded_at: Sun, 05 Jul 2015 08:13:21 GMT
recorded_with: VCR 2.9.3
