---
http_interactions:
- request:
    method: get
    uri: https://rebit.ph/api/v1/rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c13939f4a85129dc8392360d04077db"'
    body:
      encoding: UTF-8
      string: '{"USDCAD":1.2571,"USDJPY":122.875,"USDAUD":1.3303,"USDSGD":1.3457,"USDHKD":7.7529,"USDKRW":1122.145,"USDCNY":6.2066,"USDGBP":0.6422,"USDINR":63.4174,"USDVND":21805.0,"SGD":349.088,"HKD":2011.1798,"KRW":291095.6345,"CNY":1610.0541,"EUR":233.4171,"VND":5656435.05,"SAR":973.0469,"TWD":8013.1749,"QAR":944.2005,"KWD":78.4715,"USDBTC":0.0039,"USDPHP":45.0325,"USDEUR":0.8998,"USDQAR":3.6398,"USDKWD":0.3025,"USDAED":3.6732,"USDSAR":3.751,"USDTWD":30.89,"USDIDR":13368.0,"USDMYR":3.7883,"PHP":11653.0,"USD":259.41,"CAD":326.1043,"PHP-ASK":11789.83,"JPY":31875.0038,"AUD":345.0931,"AED":952.8648,"GBP":166.5931,"MYR":982.7229,"INR":16451.1077,"IDR":3467792.88}'
  recorded_at: Sun, 05 Jul 2015 08:49:56 GMT
recorded_with: VCR 2.9.3
