---
http_interactions:
- request:
    method: get
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f6a096f764a41d41cc499fef8d917c0"'
    body:
      encoding: UTF-8
      string: '{"vendor":{"id":43,"name":"Global XT","url":"","logo_url":null,"phone":"+639999935105","email":"ramon.tayag@gmail.com","active":true,"user_ids":[1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1620,1621,1622,1623,1624,1631,1625,1632,1626,1633,1627,1634,1628,1635,1629,1636,1630,1637]}}'
  recorded_at: Sun, 05 Jul 2015 09:05:15 GMT
recorded_with: VCR 2.9.3
