---
http_interactions:
- request:
    method: get
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"84150d6dbda5b690151fe48987b2e3cd"'
    body:
      encoding: UTF-8
      string: '{"vendor":{"id":43,"name":"Global XT","url":"","logo_url":null,"phone":"+639999935105","email":"ramon.tayag@gmail.com","active":true,"user_ids":[]}}'
  recorded_at: Sat, 04 Jul 2015 13:08:08 GMT
recorded_with: VCR 2.9.3
