---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Roland","last_name":"Deschain","email":"roland+1436061077@ka.tet"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3197e6a04f7f4af730ed36521af3059d"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1635,"first_name":"Roland","last_name":"Deschain","email":"roland+1436061077@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"EnnWdgy-","api_token":"88z68Q4H7rkyzay9as-8z3nsDHX4ZAmb"}'
  recorded_at: Sun, 05 Jul 2015 01:51:24 GMT
- request:
    method: get
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ae81b9669e6f8da5f4977f5a3e3273d5"'
    body:
      encoding: UTF-8
      string: '[{"id":1620,"first_name":"Eddie","last_name":"Dean","email":"","external_source_id":null,"avatar":null,"birthday":null,"created_at":"2015-07-04T21:13:32.349+08:00","updated_at":"2015-07-04T21:13:32.835+08:00","provider":null,"uid":null,"name":null,"gender":null,"access_token":null,"refresh_token":null,"mobile":null,"minimum_amount_in_php":350,"maximum_amount_in_php":15000,"referror_id":null,"referror_name":null,"accepted_referral_agreement":false,"wallet_address":null,"referral_earnings":0.0,"lifetime_referral_earnings":0.0,"institutional":false,"enabled_referral_on":null,"address":null,"city":null,"country":null,"postal_code":null,"encrypted_api_token":"qbo+E38msrWB8nTqprd9d0IXTviHw6AFmhVBY3JfnMrQ0ESAewOrkFJa1W3Fyo5/","maximum_sends_per_day":10,"enable_ip_whitelist":false,"whitelisted_ips":null,"banned":false,"banned_at":null,"processing_fee_override":1.0,"vendor_id":43,"deleted":false,"deleted_at":null,"last_accessed_via_api_at":null,"latitude":null,"longitude":null,"mobile_confirmed":true,"mobile_confirmed_at":"2015-07-04T21:13:31.784+08:00","mobile_confirmation_code":"","kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"enabled_credit":false,"credit_in_php":0.0,"is_business_user":false,"is_test":false,"business_name":null,"business_registration_number":null,"business_address":null,"business_registration":{"url":null,"thumb":{"url":null}},"business_registration_confirmed":false,"external_source":null},{"id":1621,"first_name":"Roland","last_name":"Deschain","email":"roland+1436016011@ka.tet","external_source_id":null,"avatar":null,"birthday":null,"created_at":"2015-07-04T21:20:19.192+08:00","updated_at":"2015-07-04T21:20:19.520+08:00","provider":null,"uid":null,"name":null,"gender":null,"access_token":null,"refresh_token":null,"mobile":null,"minimum_amount_in_php":350,"maximum_amount_in_php":15000,"referror_id":null,"referror_name":null,"accepted_referral_agreement":false,"wallet_address[...]
