---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Roland","last_name":"Deschain","email":"roland+1436078597@ka.tet"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"35b75cc15928ce1c5cd39aa4e82bed86"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1641,"first_name":"Roland","last_name":"Deschain","email":"roland+1436078597@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"za6xYjQQ","api_token":"xe-LviQt3y8bLe1ErfYKQwJPAegzvd4E"}'
  recorded_at: Sun, 05 Jul 2015 06:43:27 GMT
- request:
    method: get
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5c6c45dfc31b50cdc67ff0e68eb1b82e"'
    body:
      encoding: UTF-8
      string: '[{"id":1640,"first_name":"Roland","last_name":"Deschain","email":"roland+1436078505@ka.tet","external_source_id":null,"avatar":null,"birthday":null,"created_at":"2015-07-05T14:41:55.632+08:00","updated_at":"2015-07-05T14:41:55.903+08:00","provider":null,"uid":null,"name":null,"gender":null,"access_token":null,"refresh_token":null,"mobile":null,"minimum_amount_in_php":350,"maximum_amount_in_php":15000,"referror_id":null,"referror_name":null,"accepted_referral_agreement":false,"wallet_address":null,"referral_earnings":0.0,"lifetime_referral_earnings":0.0,"institutional":false,"enabled_referral_on":null,"address":null,"city":null,"country":null,"postal_code":null,"encrypted_api_token":"joLnhYYVuKKS2koomNrH84KAfhiPAeK8xcngas9/TApRx1mmL14bmnvjd0zSX5FR","maximum_sends_per_day":10,"enable_ip_whitelist":false,"whitelisted_ips":null,"banned":false,"banned_at":null,"processing_fee_override":1.0,"vendor_id":43,"deleted":false,"deleted_at":null,"last_accessed_via_api_at":null,"latitude":null,"longitude":null,"mobile_confirmed":true,"mobile_confirmed_at":"2015-07-05T14:41:55.450+08:00","mobile_confirmation_code":"","kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"enabled_credit":false,"credit_in_php":0.0,"is_business_user":false,"is_test":false,"business_name":null,"business_registration_number":null,"business_address":null,"business_registration":{"url":null,"thumb":{"url":null}},"business_registration_confirmed":false,"external_source":null},{"id":1641,"first_name":"Roland","last_name":"Deschain","email":"roland+1436078597@ka.tet","external_source_id":null,"avatar":null,"birthday":null,"created_at":"2015-07-05T14:43:26.476+08:00","updated_at":"2015-07-05T14:43:26.772+08:00","provider":null,"uid":null,"name":null,"gender":null,"access_token":null,"refresh_token":null,"mobile":null,"minimum_amount_in_php":350,"maximum_amount_in_php":15000,"referror_id":null,"referror_name":null,"accepted_referral_agreement":false,"wallet_address[...]
