---
http_interactions:
- request:
    method: post
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users.json
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Susanna","last_name":"Dean","email":"susanna+1436061315@ka.tet"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bdde6a483f9673553c562f4a33a9474"'
    body:
      encoding: UTF-8
      string: '{"user":{"id":1636,"first_name":"Susanna","last_name":"Dean","email":"susanna+1436061315@ka.tet","birthday":null,"mobile":null,"wallet_address":null,"institutional":false,"address":null,"city":null,"country":null,"postal_code":null,"maximum_sends_per_day":10,"mobile_confirmed":true,"kyc_level":0,"identification":{"url":null,"thumb":{"url":null}},"identification_confirmed":false,"proof_of_address":{"url":null,"thumb":{"url":null}},"proof_of_address_confirmed":false,"recipient_ids":[],"remittance_ids":[],"total_remittances_today":0,"vendor_uploaded_identification":null,"vendor_uploaded_proof_of_address":null},"password":"K3SxBLwX","api_token":"9tpC4ZzCM5T_Cqn2ibYPsosyc-g28Pax"}'
  recorded_at: Sun, 05 Jul 2015 01:55:24 GMT
- request:
    method: delete
    uri: https://rebit.ph/api/v1/vendors/<VENDOR_API_TOKEN>/users/1636.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Sun, 05 Jul 2015 01:55:30 GMT
recorded_with: VCR 2.9.3
